<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCwngZCYUuUpbbK0Ohr8Fso7q1lHheHMGs",
    authDomain: "messenger-56f93.firebaseapp.com",
    databaseURL: "https://messenger-56f93.firebaseio.com",
    projectId: "messenger-56f93",
    storageBucket: "messenger-56f93.appspot.com",
    messagingSenderId: "595879540635",
    appId: "1:595879540635:web:647cd6270a530d2ab3533e",
    measurementId: "G-1D00Q9MQ80"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>